.buttons{
  height: 100px;
  top: 20px;
  margin: auto;
  position: relative;
  text-align: center;
}
#deal-button, #hit-button, #stand-button {
    text-align: center;
    height: 40px;
    width: 80px;
    font-size: 16px;
    color: green;
}

.label{
  font-style: italic;
  font-size: 1.2em;
  color: orange;
}

#table{
  position: relative;
  top: 100px;
  height: 550px;
  width: 90%;
  background-color: green;
  padding: 15px;
  margin: auto;
  border-radius: 15px;
}

#dealer-hand,
#player-hand {
  height: 150px;
  width: auto;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;


}

#dealer-hand > img,
#player-hand > img {
  margin-top: 5px;
  margin-left: 5px;
}

.message{
  position: relative;
  text-align: center;
  color: black;
  margin-top: -25px;
}

.wins{
  border: 5px;
  font-style: normal;
  font-family: sans-serif;
  color: blue;
  text-align: center;
  margin-top: -20px;
}
